---
import MainLayout from "../../layouts/MainLayout.astro";
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/Features.astro";
import Hero from "@components/Hero.astro";
import Logos from "@components/logos.astro";
import Projects from "@components/Projects.astro";
import Gradient from "@components/Gradient.astro";
import { getLocaleFromPath, loadTranslations } from "../../utils/i18n";

// Set current locale
const currentLocale = 'fr';

// Load translations
const translations = await loadTranslations(null, currentLocale);
---
<div class="relative overflow-x-hidden supports-[overflow-x:clip]:overflow-x-clip">
<MainLayout title="Martin C Scott" description={translations.site.description}>
    <Gradient />
      <Container>
        <Hero />
        <Features />
        <Logos />
        <Projects />
        <Cta />
      </Container>
  </MainLayout>
</div>
