---
import MainLayout from "../layouts/MainLayout.astro";
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Projects from "@components/projects.astro";
---
<div class="relative overflow-x-hidden supports-[overflow-x:clip]:overflow-x-clip">
  <MainLayout title="Martin C Scott">
      <div class="noise"></div>
        <div class="animated-gradient gradient-1 absolute left-0 top-[55rem] h-[600px] w-[calc(max(50vw,300px))] -translate-y-1/2 translate-x-[-60%] rounded-full bg-purple-purple-gradient opacity-75 mask-radial-gradient z-[-5]"></div> 
        <div class="animated-gradient gradient-2 absolute left-0 top-[35rem] h-[600px] w-[calc(max(50vw,300px))] -translate-y-1/2 translate-x-[-60%] rounded-full bg-orange-yellow-gradient opacity-75 mask-radial-gradient z-[-5]"></div>
        <div class="animated-gradient gradient-3 absolute left-0 top-[0rem] h-[600px] w-[calc(max(50vw,300px))] -translate-y-1/2 translate-x-[10%] rounded-full bg-purple-purple-gradient opacity-75 mask-radial-gradient z-[-5]"></div>
        <div class="animated-gradient gradient-4 absolute left-0 top-[0rem] h-[600px] w-[calc(max(50vw,300px))] -translate-y-1/2 translate-x-[65%] rounded-full bg-blue-purple-gradient opacity-75 mask-radial-gradient z-[-5]"></div>
        <div class="animated-gradient gradient-5 absolute right-0 top-[30rem] h-[600px] w-[calc(max(50vw,300px))] -translate-y-1/2 translate-x-[60%] rounded-full bg-orange-yellow-gradient opacity-75 mask-radial-gradient z-[-5]"></div>
        <div class="animated-gradient gradient-6 absolute right-0 top-[70rem] h-[600px] w-[calc(max(50vw,300px))] -translate-y-1/2 translate-x-[60%] rounded-full bg-blue-purple-gradient opacity-75 mask-radial-gradient z-[-5]"></div>
      <Container>
        <Hero />
        <Features />
        <Logos />
        <Projects />
        <Cta />
      </Container>
  </MainLayout>
  </div> 

  