---
import Link from "./ui/link.astro";
---

<div class="gradient-border mx-auto max-w-5xl mt-12">
  <div class="flex flex-col feature-card bg-white dark:bg-deep-purple shadow-md rounded-lg p-6 items-center text-center dark-transition">
    <h2 class="text-black dark:text-white text-4xl md:text-6xl tracking-tight font-semibold mt-12">
      Build faster websites.
    </h2>
    <p class="text-slate-950 dark:text-paragraph-dark mt-4 text-lg md:text-xl leading-relaxed">
      Pull content from anywhere and serve it fast with Astro's next-gen island
      architecture.
    </p>
    <div class="mb-12 flex mt-8">
      <Link href="#" style="outline">Get Started</Link>
    </div>
  </div>
</div>