---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24 mb-24">
  <h2 class="text-center text-slate-500">Technologies I work with</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap md">

    <Icon class="size-8 md:size-12 dark:text-slate-100"name="simple-icons:react" />
    <Icon class="size-8 md:size-12 dark:text-slate-100" name="simple-icons:vuedotjs" />
    <Icon class="size-8 md:size-12 dark:text-slate-100" name="simple-icons:astro" />
    <Icon class="size-8 md:size-16 dark:text-slate-100" name="simple-icons:tailwindcss" />
    <Icon class="size-8 md:size-12 dark:text-slate-100" name="simple-icons:bootstrap" />
    <Icon class="size-8 md:size-12 dark:text-slate-100" name="simple-icons:wordpress" />
    <Icon class="size-8 md:size-16 dark:text-slate-100" name="simple-icons:javascript" />


  </div>
</div>